{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="text-center" scope="col">Subject ID</th>
                <th class="text-center" scope="col">Subject</th>
                <th class="text-center" scope="col">Activity</th>
                <th class="text-center" scope="col">Description</th>
                <th class="text-center" scope="col">Due Date</th>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
                <tr>
                    <td class="text-center" scope="col">{{ d['id'] }}</td>
                    <td class="text-center" scope="col">{{ d['name'] }}</td>
                    <td class="text-center" scope="col">{{ d['title'] }}</td>
                    <td class="text-center" scope="col">{{ d['description'] }}</td>
                    <td class="text-center" scope="col">{{ d['due_date'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Activities</td>
                <td class="border-0 text-center">{{ data|length }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}